
.menu-horizontal li a {
    position: relative;
    /* color: white; */
    text-decoration: none;
  }

  .menu-horizontal li a:hover {
    color: black;
   
  }
  .menu-horizontal li a:hover::after,
  .menu-horizontal li a.active::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: black;
  }

  .menu-horizontal li a.active {
    color: black;
    
  }

  